footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: fixed;
    display: flex;
}
